# Binaries
**/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# USD Engine Directories
src/solutions
scripts/__pycache__
.vs