[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/AlsonEntuna/imgui
[submodule "thirdparty/usd"]
	path = thirdparty/usd
	url = https://github.com/AlsonEntuna/OpenUSD
[submodule "thirdparty/imguizmo"]
	path = thirdparty/imguizmo
	url = https://github.com/AlsonEntuna/ImGuizmo
