[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/AlsonEntuna/imgui
	branch = docking
[submodule "thirdparty/usd"]
	path = thirdparty/usd
	url = https://github.com/AlsonEntuna/OpenUSD
[submodule "thirdparty/imguizmo"]
	path = thirdparty/imguizmo
	url = https://github.com/AlsonEntuna/ImGuizmo
[submodule "thirdparty/libraries"]
	path = thirdparty/libraries
	url = https://github.com/AlsonEntuna/CautionEngineThirdParty
	branch = master