# Binaries
**/bin/
bin-int/

# Log files
*.log

# VsCode
.vscode/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# USD Engine Directories
solutions
scripts/__pycache__
src/USDEngine/intermediate/
src/Editor/intermediate/
src/Game/intermediate

src/USDEngine/bin/
src/Editor/bin/
src/Game/bin/