# Binaries
**/bin/
bin-int/

# Log files
*.log

# VsCode
.vscode/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CautionEngine Directories
solutions
scripts/__pycache__
src/CautionEngine/intermediate/
src/Editor/intermediate/
src/Game/intermediate

src/CautionEngine/bin/
src/Editor/bin/
src/Game/bin/

thirdparty/usd_bin
intermediate/
